#join {
  flex-direction: row;
  overflow-y: hidden;
  display: flex;
  align-items: center; /* 세로 중앙 정렬 (필요 없으면 삭제 가능) */
  justify-content: flex-start; /* 왼쪽 정렬 */
}

#join .join-img {
    width: 900px;
    height: 100vh;
    background-repeat: no-repeat;
}

#join .join-input {
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#join .growrush {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 40px;
  align-items: center; 
  justify-content: center;
}

#join .gr-img {
  width: 30px;
  height: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
}

#join .gr-text {
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
}

#join .title {
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 700;
}

#join .input-name {
  width: 300px;
  height: 25px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

#join .dupli-check {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#join .input-id {
  width: 210px;
  height: 25px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

#join .check-btn {
  display: flex;
  width: 60px;
  height: 25px;
  padding: 10px;
  font-size: 12px;
  align-items: center;
  justify-content: center;

  color: white;
  background-color: black;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid black;

  cursor: pointer;
}

#join .input-pw {
  width: 300px;
  height: 25px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin-top: 10px;
}

#join .message-f {
  font-size: 12px;
  color: red;
  margin-top: 3px;
  /* margin-bottom: 10px; */
  width: 100%;          /* 부모 기준으로 꽉 차게 */
  text-align: left;     /* 왼쪽 정렬 */
  padding-left: 5px; 
}

#join .message-t {
  font-size: 12px;
  color: green;
  margin-top: 3px;
  margin-bottom: 10px;
  width: 100%;          /* 부모 기준으로 꽉 차게 */
  text-align: left;     /* 왼쪽 정렬 */
  padding-left: 5px; 
}

#join .input-pwcheck {
  width: 300px;
  height: 25px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin-top: 10px;
}

#join .input-birth {
  width: 300px;
  height: 25px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin-top: 10px;
}

#join .join-btn {
  width: 300px;
  height: 25px;
  padding: 10px;

  font-size: 15px;
  font-weight: 600;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  background-color: black;
  color: white;

  cursor: pointer;
}

#join .join-btn-k {
  width: 300px;
  height: 25px;
  padding: 10px;

  font-size: 15px;
  font-weight: 600;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  background-color: #fbe300;
  color: black;

  cursor: pointer;
}

#join .join-btn-n {
  width: 300px;
  height: 25px;
  padding: 10px;

  font-size: 15px;
  font-weight: 600;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  background-color: #2db400;
  color: white;

  cursor: pointer;
}

#join .gender-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}

#join .gender-title {
  margin-right: 100px;
}

#join label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}