#main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#main .title {
    display: flex;
    align-content: center;
    justify-self: center;
    margin-top: 80px;
}

#main .timer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-self: center;
    justify-content: center;
    border-radius: 7px;
    border: 2px solid black;
    width: 50%;
    height: 50px;
    padding: 10px;
    margin-top: -5px;
    font-size: 24px;
    font-weight: 600;
}

#main .event-list {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    gap: 13px;
    margin-top: 80px;
    cursor: pointer;
    width: 50%;
    margin-bottom: 80px;
}